{block content}
<h1>Top 10 zákazníků podle obratu za posledních 30 dní</h1>

<table class="table">
	<thead>
	<tr>
		<th>Obrat</th>
		<th>Zákazník</th>
		<th>Adresa</th>
		<th>Nejpoužívanější kartička</th>
		<th>Možnosti</th>
	</tr>
	</thead>
	<tbody>
	<tr n:foreach="$report as $customer">
		<td class="text-right">{$customer->sum|money}</td>
		<td>{$customer->fullname}</td>
		<td>{$customer->address}</td>
		<td>{if $customer->card_type_id === NULL}žádnou nemá{else}{$customer->card_type_id|benefitCard} ({$customer->code}){/if}</td>
		<td><a n:href=":ReportDetail: id => $customer->id">detail</a></td>
	</tr>
	</tbody>
</table>
