{block content}
<a n:href=":Report:">Zpátky na přehled</a>
<h2>Obrat za poslední 30 dní</h2>
<table class="table">
    <tr>
        <th>Obrat</th>
        <td>{$customer->turnover|money}</td>
    </tr>
</table>

<h2>Zákazník</h2>
<table class="table">
    <tr>
        <th>Jméno</th>
        <td>{$customer->user->fullname}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td><a href="mailto:{$customer->user->email}">{$customer->user->email}</a></td>
    </tr>
    <tr>
        <th>Telefon</th>
        <td>{$customer->user->phone}</td>
    </tr>
    <tr>
        <th>Datum registrace</th>
        <td>{$customer->user->registration_date|datetime}</td>
    </tr>
</table>

<h2>Zákazníkovi kartičky</h2>
{if $customer->cards === []}
    <p>Nemá žádnou přiřazenou kartičku</p>
{else}
    <table class="table">
        <tr>
            <th>Kód</th>
            <th>Typ</th>
            <th>Datum přiřazení</th>
        </tr>
        <tr n:foreach="$customer->cards as $card">
            <td>{$card->code} <span n:if="$card->is_primary" class="badge badge-primary">Primary</span></td>
            <td>{$card->card_type_id|benefitCard}</td>
            <td>{$card->assigned_datetime|datetime}</td>
        </tr>
    </table>
{/if}

<h2>Zákazníkovi adresy</h2>
{if $customer->addresses === []}
    <p>Nemá žádnou přiřazenou kartičku</p>
{else}
    <table class="table">
        <tr>
            <th>Adresa</th>
        </tr>
        <tr n:foreach="$customer->addresses as $address">
            <td>{$address->address} <span n:if="$address->is_mailing" class="badge badge-primary">Vybraná jako zasílací</span> <span n:if="$address->is_billing" class="badge badge-success">Vybraná jako fakturační</span></td>
        </tr>
    </table>
{/if}
